/*
 css/styles.css
 Student Name: saad aghbar
 Student Id: 12429711
*/

:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 45px;
}

p{
    margin: 0;
    padding: 0;
    /*color: var(--text);*/
}
a{
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
    position: relative;
    padding-top: 5px;
    /*padding-bottom: 400px;*/
}

#home{
    display: flex;
    width: 100%;
    height: 40px;
    top: 0;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: var(--bg);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.97;
}

.hero{
    width: 70px;
    height: 40px;
    position: absolute;
    left: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero a{
    font-weight: bolder;
    font-size: 15px;
    color: var(--brand);
    letter-spacing: 1px;
}

.info-header{
    position: absolute;
    display: flex;
    width: 350px;
    height: 40px;
    right: 8%;
}

.info-header-info{
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header-info a{
    color: var(--brand);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


.info-header-info:hover,
.hero:hover
{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.img-container{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}

.bg-pic{
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.pic-text-container{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 28%;
}

#MD{
    background-color: var(--brand-2);
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    color: var(--brand);
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 5px;
}

#WK{
    color: white;
    font-weight: bold;
    font-size: 10px;
    font-size: 40px;
}

#DS{
    width: 55%;
    margin: 5px auto 0 auto;
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
    color: white;
}

#pic-button{
    width: 100px;
    padding: 14px 0;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    background-color: var(--brand);
    box-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

#pic-button a{
    font-weight: 900;
    font-size: 13px;
    display: inline-block;
    color: white;
}

#pic-button:hover{
    background-color: white;
    transition: 0.4s ease;
    box-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

#pic-button:hover a{
    color: var(--brand);
    transition: 0.4s ease;
}

#pic-button:active{
    box-shadow: none;
    transform: translate(0, 2px);
}



.first-cards{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 90px;
}

.O-card{
    background-color: var(--card);
    width: 430px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid rgb(233, 228, 219);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.O-card1-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 5%;
    left: 3%;
    right: 3%;
}

.O-card1-text p{
    margin: 0 0 10px 0;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}

#A{
    font-weight: bold;
    font-size: 25px;
}

#D{
    font-size: 14px;
}

#V{
    font-size: 12px;
    width: 90%;
    margin-bottom: 0;
    color: gray;
}

.O-card1-bubble{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    bottom: 7%;
    left: 3%;
}

.O-card1-bubble p{
    margin: 0 10px 0 0;
    font-size: 11px;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(233, 228, 219);
    cursor: pointer;
}

#Fresh:hover,
#Wood:hover,
#House:hover{
    background-color: rgba(33, 104, 105, 0.5);
    transition: 0.4s ease;
}

.seconed-card-container{
    display: block;
    --gap: 15px;
    --col: 280px;
    max-width: calc(var(--col) * 3 + var(--gap) * 2);
    margin-inline: auto;
    margin-bottom: 100px;
}

#M{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
}

#P{
    font-size: 13px;
    color: gray;
    margin-top: 2px;
}

.seconed-card{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.I-card{
    height: 320px;
    width: 280px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(233, 228, 219);
    background-color: var(--card);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.head{
    margin: 30px 0 25px 15px;
    font-size: 17px;
    font-weight: bold;
}

.body-card{
    margin-left: 5%;
    width: 90%;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.body-in-card1{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px dotted rgba(233, 228, 219, 1);
}

.body-in-card21,
.body-in-card22{
    height: 100%;
    position: absolute;
}

.body-in-card21{
    left: 0;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
}

.body-in-card22{
    right: 0;
    width: 50px;
    height: 20px;
}

.body-in-card22 p{
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    color: var(--brand);
}

.body-in-card21-text{
    width: 100%;
    height: 20px;
}

.body-in-card21-text1{
    font-weight: bold;
    font-size: 14px;
}

.body-in-card21-text2{
    font-size: 12px;
    color: gray;
    line-height: 1.2;
}

.third-card{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 75px;
}

.IV-card1,
.IV-card2{
    background-color: var(--card);
    width: 430px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid rgb(233, 228, 219);
    position: relative;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.IV-card1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.IV-card1_1{
    width: 100%;
    height: 70px;
}

.IV-card1_1 p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 13px;
}

.IV-card1_2{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.IV-card1_21{
    width: 90%;
    height: 30px;
    margin-bottom: 8px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px dotted rgba(233, 228, 219, 1);

}

.IV-card1_21_1{
    height: 30px;
    position: absolute;
    left: 0;
    width: 70px;
    font-size: 14px;

}

.IV-card1_21_2{
    position: absolute;
    right: 0;
    height: 30px;
    font-size: 14px;
}

.IV-card2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.IV-card2_1,
.IV-card2_2,
.IV-card2_3{
    width: 100%;
    /*background-color: #49a078;*/
}

.IV-card2_1 p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 13px;
}

.IV-card2_2 p{
    margin: 20px 0 0 15px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
}

.IV-card2_3 p{
    margin: 10px 0 0 15px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    font-size: 12px;
    color: gray;
}

#email {
    text-decoration: none;
    color: var(--brand);
}

.fourth-card{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.V-card1,
.V-card2{
    background-color: var(--card);
    width: 430px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(233, 228, 219);
    position: relative;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

#location{
    margin-top: 15px;
}

.map{
    width: 100%;
    height: inherit;
    border: none;
    border-radius: inherit;
    object-fit: cover;
}

.footer{
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(233, 228, 219);
}

.footer p {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
    color: gray;
}

#name{
    color: var(--brand);
    opacity: 0.8;
    text-decoration: none;
}

#name:hover{
    opacity: 0.4;
    transition: 0.6s ease;
}

@media (max-width: 769px) {

    html {
        font-size: 14px;
    }

    body{
        padding-top: 0;
    }

    #home {
        height: 35px;
    }
    .hero {
        height: 35px;
        left: 8%;
    }
    .hero a {
        font-size: 14px;
    }
    .info-header {
        right: 8%;
        width: 300px;
    }

    .info-header-info a {
        font-size: 13px;
    }

    .bg-pic {
        height: 360px;
    }
    .pic-text-container {
        top: 26%;
    }

    #MD {
        font-size: 9px;
        padding: 3px 9px;
    }
    #WK {
        font-size: 26px;
    }
    #DS {
        width: 85%;
        font-size: 13px;
    }

    #pic-button {
        width: 88px;
        padding: 10px 0;
        border-radius: 26px;
    }
    #pic-button a {
        font-size: 12px;
    }

    .first-cards,
    .third-card,
    .fourth-card {
        grid-template-columns: repeat(1, auto);
    }
    .seconed-card {
        grid-template-columns: repeat(1, auto);
    }

    .seconed-card-container{
        max-width: calc(var(--col) + var(--gap) * -0.2);
    }
}

@media (min-width: 1024px) {
    .first-cards,
    .third-card,
    .fourth-card {
        grid-template-columns: repeat(2, auto);
    }
    .seconed-card {
        grid-template-columns: repeat(3, auto);
    }


}